{% extends 'base.html' %}

{% block body %}
    <!-- <h1 class="title">{% block title %} Reviews {% endblock %}</h1> -->
    <div class="content">
        <h1>Ramen Reviews</h1>

        <p>Here are 5 top rated Ramen</p>
        <table>
            <tr>
                <th>Country</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Package</th>
                <th>Rating</th>
            </tr>
            {% for review in reviews %}
                <tr>
                    <td>{{ review.country }}</td>
                    <td>{{ review.brand }}</td>
                    <td>{{ review.ramen_type }}</td>
                    <td>{{ review.package }}</td>
                    <td>{{ review.rating }}</td>
                </tr>
            {% endfor %}
        </table>


        <form action="{{ url_for('by_ptext')}}" method="post">
            <input name="search" type="text" value="" placeholder="Enter Ramen Type" required>
           
            <button>search</button>
        </form>

        <form action="{{ url_for('by_country')}}" method="post">
            <label>Select Country</label>
            <select id="country" name="country">
                {% for country in countries %}
                    <option value={{country}}> {{country}} </option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
        

    </div>
{% endblock %}